.list-cart {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, auto));
    grid-template-rows: auto;
    gap: 3rem;
    @media screen and (max-width:992px) {
        grid-template-columns: repeat(3, minmax(0, auto));
    }
    @media screen and (max-width:768px) {
        grid-template-columns: repeat(2, minmax(0, auto));
    }

    @media screen and (max-width:576px) {
        grid-template-columns: repeat(1, minmax(0, auto));
    }
}