.input-form{
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem 2rem 1rem 1rem;
    border-left: 0.6rem solid #4684ee;
    border-top: 0.1rem solid #4684ee;
    border-bottom: 0.2rem solid #4684ee;
    border-right: 0.1rem solid #4684ee;
    border-radius: 0.5rem;
}
.p-errors{
    margin-left: .5rem;
    color: red;
}

.custom-eye-icon{
    margin-left: 3rem;
}