.button-qt{
    color: white;
    background-color: #1677ff;
    padding: 1rem 2rem; 
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.6rem;
    width: 100%;

    transition: .3s;
}
.button-qt:hover{
    background-color: #74aaf6;
}
.button-qt:active{
    background-color: #1677ff;
    border-color: white;
}