.input-row{
    display: flex;
    justify-content:space-around;
    margin-bottom: 2rem;
}
.input-ele{
    width: 75%;
    padding-left: 2rem;
}
.add-kh{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.input-eleImg{
    width: 79%;
}
.button-updateImg{
    margin-top: 3rem;
}
.tro-lai{
    cursor: pointer;
    color: rgb(78, 78, 255);
}
.tro-lai:hover{
    color: black;
}