.add-kh{
    cursor: pointer;
    margin: 2rem 0;
    transition: .3s;
    display: inline-block;
}
.add-kh:hover{
    color: blue;
}
.ds-kh{
    text-align: center;
    font-size: 2rem;
}
.search-kh{
    margin-bottom: 2rem;
}