.form-container {
    background: #3C40C6;
    box-shadow: 0px 35px 44px -22px #1f181b;
    padding: 8rem 10rem 10rem 10rem;    
}
.profile-form {
    background-color: white; 
    padding: 3rem 2rem 10rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 1rem rgba(4, 4, 4, 0.904); 
    border: 2rem solid rgb(105, 202, 255);
}
.button-profile{
    padding: 0 3rem 0 3rem;
}