.page-ghiDanh{
    @media screen and (max-width:576px) {
        padding: 2rem 20rem;
    }   
}
.ghiDanh-container{
    // @media screen and (max-width:1400px) {
    //     padding: 8rem 4rem 10rem 4rem;
    // }
    // @media screen and (max-width:1200px) {
    //     padding: 8rem 4rem 10rem 4rem;
    // }
    // @media screen and (max-width:992px) {
    //     padding: 8rem 4rem 10rem 4rem;
    // }
    // @media screen and (max-width:768px) {
    //     padding: 8rem 4rem 10rem 4rem;
    // }
    @media screen and (max-width:576px) {
        padding: 2rem 20rem;
    }   
}

.search-ghidanh{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}
.ghiDanh__search{
    width: 70%;
}
.tro-lai{
    cursor: pointer;
    color: rgb(78, 78, 255);
}
.tro-lai:hover{
    color: black;
}