.--mw-6 {
    max-width: 6rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.--g-0 {
    gap: 0 !important;
}
.--ma {
    margin: auto;
}

.--dn {
    display: none !important;
}

.admin-template-container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .admin-template-container__side-left {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 0;
        width: 25%;
        background-color: black;
        color: white;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;
            width: 100%;
            gap: 1rem;
            @media screen and (max-width:1082px) {
               flex-wrap: wrap;
            }

            @media screen and (max-width:1000px ) {
                flex-direction: column;
             }

            a {
                display: block;
                max-width: 5.6rem;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;
                }
            }
            

            p {
                cursor: default;
                font-weight: bold;
                text-align: center;
                word-break: break-all;
                @media screen and (max-width:1082px) {
                    order: -1;
                    width: 100%;
                    margin-bottom: 1rem;
                }
                @media screen and (max-width:992px) {
                    display: none;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                display: block;

                svg {
                    cursor: pointer;
                    width: 3.2rem;
                    height: 3.2rem;
                    margin: auto;
                }
            }
        }

        ul {
            list-style: none;

            a {
                color: white;
                margin-bottom: 1.5rem;
                display: block;
            }

            svg {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    .admin-template-container__side-right {
        flex: 1;

        .admin-template-container__top {
            display: flex;
            gap: 3rem;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: 0.8);
            padding: 3.9rem 10rem;

            p {
                font-weight: bold;
                color: white;
                margin-left: auto;
                cursor: default;
            }

            .admin-template-container__logoUser {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: none;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .admin-template-container__content {
            padding: 1rem;
        }
    }
}