.--mw-4 {
    max-width: 6rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.--ma {
    margin: auto;
}

.--dn {
    display: none !important;
}

.admin-template-container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .admin-template-container__side-left {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        flex: 1;
        transition: max-width 0.2s;
        background-color: black;
        color: white;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;
            width: 100%;

            img {
                width: 5.6rem;
                height: 5.6rem;
                object-fit: cover;
                display: block;
            }

            p {
                cursor: default;
                font-weight: bold;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                display: block;

                svg {
                    cursor: pointer;
                    width: 3.2rem;
                    height: 3.2rem;
                    margin: auto;
                }
            }
        }

        ul {
            list-style: none;

            a {
                color: white;
                margin-bottom: 1.5rem;
                display: block;
            }

            svg {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    .admin-template-container__side-right {
        flex: 1;

        .admin-template-container__top {
            display: flex;
            gap: 3rem;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: 0.8);
            padding: 3.9rem 10rem;

            p {
                font-weight: bold;
                color: white;
                margin-left: auto;
                cursor: default;
            }

            .admin-template-container__logoUser {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: none;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .admin-template-container__content {
            padding: 1.5rem;
        }
    }
}