.list-nguoi-dung-container {
    .disabled {
        color: gray !important;
        cursor: not-allowed;
    }

    .list-nguoi-dung {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .list-nguoi-dung__add {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            display: block;
        }

        .list-nguoi-dung__table-container {
            width: 100%;

            table {
                @media screen and (max-width:576px) {
                    display: block;
                }
            }

            thead {
                @media screen and (max-width:576px) {
                    display: block;
                }

                tr {
                    @media screen and (max-width:576px) {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: space-between;
                    }

                    th {
                        @media screen and (max-width:576px) {
                            padding: 0.8rem;
                            overflow-wrap: break-word;
                        }

                        &:nth-of-type(1) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 20%;
                            }
                        }

                        &:nth-of-type(2) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 40%;
                            }
                        }

                        &:nth-of-type(3) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 40%;
                            }
                        }

                        &:nth-of-type(4) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 33.333333333%;
                            }
                        }

                        &:nth-of-type(5) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 33.333333333%;
                            }
                        }

                        &:nth-of-type(6) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 33.333333333%;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    @media screen and (max-width:576px) {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: space-between;
                    }

                    &:nth-child(even) {
                        @media screen and (max-width:576px) {
                            background-color: #f2f2f2;
                        }
                    }

                    &:nth-child(odd) {
                        background-color: #ffffff;
                    }

                    td {
                        overflow-wrap: break-word;
                        word-break: break-all;

                        @media screen and (max-width:576px) {
                            padding: 0.8rem;
                            overflow-wrap: break-word;
                        }

                        &:nth-of-type(1) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 20%;
                            }
                        }

                        &:nth-of-type(2) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 40%;
                            }
                        }

                        &:nth-of-type(3) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 40%;
                            }
                        }

                        &:nth-of-type(4) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 33.333333333%;
                            }
                        }

                        &:nth-of-type(5) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 33.333333333%;
                            }
                        }

                        &:nth-of-type(6) {
                            @media screen and (max-width:576px) {
                                display: inline-block;
                                width: 33.333333333%;
                            }
                        }
                    }
                }
            }

            .list-nguoi-dung__xu-li-cell {
                gap: 1rem;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.list-nguoi-dung-model {
    max-width: none;

    .list-nguoi-dung-modal-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .modal-khoa-hoc-dropdown {
            display: flex;
            gap: 1rem;

            .dropdown-container {
                flex: 1;
                width: 8rem;
                button {
                    width: 100%;

                    div {
                        width: 100%;

                        div {
                            text-align: left;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        .ant-dropdown {
            overflow-y: scroll;
            max-height: 25rem;
        }

        .modal-khoa-hoc-line {
            width: 100%;
            border: .1rem solid #f0f0f0;
        }
    }
}