.search-container{
    background-color: #3C40C6;
    padding: 5rem 5rem 10rem 5rem;
}
.list-search{
    padding: 3rem 2rem 10rem 2rem;
    background-color: rgb(244, 244, 244);
    border: 2rem solid rgb(105, 202, 255);
    border-radius: 1rem;
}
.err-search{
    text-align: center;
    color: #3C40C6;
    font-size: 2rem;
}
.content-search{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}